.notificationMessage {
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.error {
    color: red;
}

.success {
    color: green;
}

.blogInfo {
    margin-bottom: 20px;
}

.blogInfo p {
    margin: 0;
}